/* Algemene instellingen voor het document */
html, body {
    height: 100vh;

}

body {
    display: flex;
}

nav {
    flex: 0 0 20%; /* Vast 20% van de breedte voor de nav */
    display: flex;
    flex-direction: column;
}

/* Content sectie */
.col-2 {
    flex: 1; /* Zelfde als flex 1 1 auto, want de 2e shrink waarde die je niet ingeeft default naar 1 en auto is ook default*/
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: 0 0 calc(2 * 100vh / 11); /* Vast gedeelte voor de header */
    display: flex;
}

main {
    flex: 1; /* Hier de row die article en aside huisvest */
    display: flex;
}

article {
    flex: 3; /* 3/4 ruimte voor artikel */
}

aside {
    flex: 1; /* 1/4 ruimte voor aside */
    display: flex;
    align-items: center;
    justify-content: center;
}
