html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
    /* align-items: stretch is standaard, maar zetten we expliciet voor duidelijkheid */
    align-items: stretch;
}

/* Linker kolom (nav) */
.col-1 {
    flex: 0 0 20%; /* Vaste breedte van 20% */

}

/* Rechter kolom (col-2) */
.col-2 {
    flex: 1; /* Neemt resterende breedte in */
    display: flex;
    flex-direction: column;
}

header, footer {
    min-height: 18.2vh; /* Minimaal 18,2% van de viewporthoogte */
    flex-shrink: 0; /* Voorkomt dat ze kleiner worden dan min-height */
}

/* Main content area */
main {
    flex: 1 1 auto; /* Kan groeien en krimpen in hoogte */
    display: flex;
}

/* Article */
article {
    flex: 1 1 auto; /* Mag groeien en krimpen */
}


/* Aside */
aside {
    display: flex;
    flex: 0 0 20%;

}