html, body {
    height: 100vh;
}

body {
    display: flex;
}

.col-1 {
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
}

.col-2 {
    flex: 1; /* Zelfde als flex 1 1 auto, want de 2e shrink waarde die je niet ingeeft default naar 1 */
    display: flex;
    flex-flow: column;

}


main {
    display: flex;
    min-height: calc(7 * 100vh / 11);
}

article {
    width: 75%
}


aside {
    width: 25%;
    flex: 0 0 25%;
    height: calc(9 * 100vh / 11);
}


header, footer {
    display: flex;
    flex: 0 0 calc(2 * 100vh / 11);
}

footer {
    max-width: 75%;
}